.quadrado{
    width: 100px;
    height: 100px;
    display: inline-block;
}

.container{
    width: 80vw;
    height: 1500px;
    background-color: gray;
    position: relative;
}

.bg-red{
    background-color: red;
}

.bg-blue{
    background-color: blue;
}

.bg-green{
    background-color: green;
}

.static{
    position: static;
}

.relative{
    position: relative;
    left: 20px;
    top: 20px;
}

.fixed{
    position: fixed;
    right: 10px;
    bottom: 10px;
}